/*Nino mtavruli font*/
@font-face {
    font-family: 'BPG Nino Mtavruli';
    src: url('../fonts/bpg-nino-mtavruli-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bpg-nino-mtavruli-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bpg-nino-mtavruli-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bpg-nino-mtavruli-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/bpg-nino-mtavruli-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bpg-nino-mtavruli-webfont.svg#bpg_nino_mtavruliregular') format('svg'); /* Legacy iOS */    
}
.bpg-nino{
    font-family: 'BPG Nino Mtavruli';
}
@font-face{
    font-family: "Rafine-medium";
    src: url("../fonts/Rafine\ Medium.otf");
}
@font-face{
    font-family: "arc";
    src: url("../fonts/archyedt-bold.otf");
}
.font-arc{
    font-family: "arc";
}
@font-face{
    font-family: "font-gun";
    src: url("../fonts/Helvetica\ Neue\ LT\ 67\ Medium\ Condensed.ttf");
    font-weight: 450;
}
.font-gun{
    font-family: "font-gun"; 
}